@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.brands-uzum {
  filter: gray; /* IE5+ */
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.3s ease-in-out;
  &:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    // -webkit-transform: scale(1.01);
  }
}

:where(.css-dev-only-do-not-override-ed5zg0).ant-steps.ant-steps-dot
  .ant-steps-item-process
  .ant-steps-icon:first-child
  .ant-steps-icon-dot {
  width: 25px;
  height: 25px;
}

:where(.css-dev-only-do-not-override-ed5zg0).ant-steps
  .ant-steps-item-process
  .ant-steps-item-icon
  > .ant-steps-icon
  .ant-steps-icon-dot {
  background: red;
}

:where(.css-dev-only-do-not-override-ed5zg0).ant-steps
  .ant-steps-item-finish
  .ant-steps-item-icon
  > .ant-steps-icon
  .ant-steps-icon-dot {
  width: 25px;
  height: 25px;
  background: red;
}

:where(.css-dev-only-do-not-override-ed5zg0).ant-steps
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background: red;
  border-radius: 10px;
  margin-top: 6px;
}

:where(.css-dev-only-do-not-override-ed5zg0).ant-steps
  .ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  margin-top: 6px;
}
:where(.css-dev-only-do-not-override-ed5zg0).ant-steps
  .ant-steps-item-wait
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  margin-top: 6px;
}

:where(.css-dev-only-do-not-override-ed5zg0).ant-steps.ant-steps-dot
  .ant-steps-item-tail::after {
  height: 7px;
  width: calc(100% - 4px);
  margin-inline-start: 7px;
}

:where(.css-dev-only-do-not-override-ed5zg0).ant-steps
  .ant-steps-item-wait
  .ant-steps-item-icon
  > .ant-steps-icon
  .ant-steps-icon-dot {
  background: #504f55;
  width: 25px;
  height: 25px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title-p {
  font-size: 18px;
  line-height: 24px;
  color: #6d6c77;
}
.desc-t {
  width: 100%;
  font-weight: 700;
  color: #27272b;
  font-size: 60px;
  margin: 30px 0 70px;
}
.desc-d {
  width: 100%;
  font-weight: 500;
  color: #6d6c77;
  font-size: 18px;
  margin-bottom: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

// HEADER

.menuFooter-mobile {
  padding-top: 30px;
  display: none;
}

.header-navbar {
  position: fixed;
  padding: 20px 0;
  width: 100%;
  background: white;
  border-bottom: 1px solid #e7e6f3;
  z-index: 101;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    :hover {
      background: #ff6d87;
      border-radius: 8px;
      color: white;
    }
    li {
      cursor: pointer;
      transition: all 0.5s ease;
      padding: 8px 20px;
      font-size: 18px;
    }
  }
}

// MAIN

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .main-box {
    p {
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      font-weight: 700;
      color: #ff4d6d;
    }
    h1 {
      font-size: 50px;
      line-height: 64px;
      text-align: center;
      font-weight: 700;
      margin: 20px 0 15px 0;
    }
    h6 {
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #504f55;
    }
    button {
      margin-top: 30px;
      color: white;
      font-weight: 600;
      padding: 15px 30px;
      border-radius: 46px;
      background: linear-gradient(95.08deg, #ff7f96 5.4%, #ff4d6d 90.9%);
    }
  }
}

// .main-chart {
//   transition: transform 9s;
//   :hover {
//     transform: scale(1.2);
//   }
// }

// BRANDS

.brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 90px;
  margin-bottom: 100px;
}

//CONTACTUS

.contact {
  border-radius: 25px;
  padding: 60px;
  background: #f9f9ff;
  margin-bottom: 70px;
  &-us {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    gap: 30px;
    &__cards {
      .contact-us__card {
        display: flex;
        gap: 20px;
        padding: 20px;
        background: white;
        margin-bottom: 20px;
        border-radius: 20px;
        span {
          color: #ff4d6d;
          font-size: 18px;
          font-weight: 600;
        }
        h3 {
          font-weight: 600;
          font-size: 18px;
          color: #27272b;
          margin-bottom: 10px;
        }
        h4 {
          font-weight: 400;
          font-size: 18px;
          color: #27272b;
          line-height: 25px;
        }
      }
    }
  }
}

//BEGINCAROUSEL

.begin-carousel {
  margin-bottom: 160px;
  .swiper-begin {
  }

  .begin-carousel__card {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    > div {
      max-width: 520px;
      width: 100%;
      h2 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 12px;
        text-align: start;
        line-height: 30px;
      }
      p {
        font-size: 16px;
        color: #27272b;
        line-height: 22px;
        text-align: start;
        font-weight: 500;
      }
    }
  }
}

// INSIDE CARD

.inside-card {
  background-image: url();
  display: flex;
  justify-content: space-between;
  background: #ff4d6d;
  border-radius: 25px;
  padding: 40px;
  position: relative;
  margin-bottom: 70px;
  height: 400px;
  position: relative;

  &__img {
    // position: absolute;
    // right: 0px;
    // top: -39px;
    bottom: 113px !important;
    right: -42px;
    position: relative;
    img {
      border-radius: 0 0 25px 0;
      width: 500px;
      height: 473px;
    }
  }

  .insCard-text {
    max-width: 600px;
    width: 100%;
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    h2 {
      font-size: 24px;
      color: #ffffff;
      font-weight: 600;
      margin-bottom: 8px;
    }
    p {
      font-size: 18px;
      color: #27272b;
      font-weight: 500px;
      line-height: 24px;
    }
  }
}

//ADVANTAGES

.advantages-card {
  .advantages-p {
    color: #6d6c77;
    text-align: start;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .advantages-img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
    img {
      max-width: 1155px;
      width: 100%;
    }
  }
}

//MORECARD

.moreCard {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin: 35px 0 80px 0;

  .btn-active {
    background: #ff4d6d;
    border-radius: 25px;
    .moreCard-left__cards {
      h2 {
        color: white;
      }
    }
    // background: linear-gradient(
    //   90deg,
    //   #cd4339 0%,
    //   #cd4339 21.67%,
    //   #ef984d 37.28%,
    //   #f8de53 50.49%,
    //   #f1a54e 63.71%,
    //   #c34037 80.92%,
    //   #ff2010 100%
    // );
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    // text-fill-color: transparent;
  }
  .moreCard-left__cards {
    width: 580px;
    display: flex;
    align-items: center;
    gap: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
    padding: 20px;
    cursor: pointer;

    margin-bottom: 20px;
    h2 {
      font-size: 24px;
      color: #27272b;
      font-weight: 700;
    }
    img {
      width: 64px;
      height: 64px;
    }
  }
  .moreCard-right {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 12px;
    h3 {
      font-weight: 600;
      font-size: 16px;
      color: #27272b;
      line-height: 20px;
    }
  }
}

// ABOUT

.about-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  p {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;

    color: #27272b;
  }
  h4 {
    max-width: 600px;
    width: 100%;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #27272b;
  }
}

//PRICECARD

.price-card {
  margin-bottom: 170px;
  .discount {
    background-image: url("../../public/img/discount.png");
    background-position: center;
    height: 72px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    margin-bottom: 30px;
    p {
      font-size: 25px;
      color: white;
      font-weight: 700;
    }
    h3 {
      font-size: 45px;
      color: white;
      font-weight: 600;
    }
  }
  .steps {
    margin-bottom: 30px;
    p {
      font-size: 16px;
      color: #504f55;
      font-weight: 600;
      text-align: center;
      margin-bottom: 40px;
    }
  }
  .contactPrice {
    padding: 24px;
    border-radius: 24px;
    border: 1px solid #6d6c77;
    p {
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      color: #27272b;
      margin-bottom: 4px;
      span {
        color: #ffb934;
      }
    }

    h3 {
      text-align: center;
      font-size: 14px;
      color: #6d6c77;
    }
  }
  .unlimited {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    p {
      font-size: 16px;
      color: #1f2937;
      font-weight: 600;
      margin-bottom: 10px;
    }
    h3 {
      font-size: 16px;
      color: #1f2937;
      font-weight: 400;
    }
  }
  .unlimited-card {
    background: #f1f1f8;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    gap: 18px;
    align-items: center;
    max-width: 300px;
    p {
      font-size: 16px;
      line-height: 22px;
      color: #1f2937;
      font-weight: 400;
    }
  }
  .ant-steps.ant-steps-dot
    .ant-steps-item-process
    .ant-steps-icon:first-child
    .ant-steps-icon-dot {
    width: 25px;
    height: 25px;
  }

  .ant-steps
    .ant-steps-item-process
    .ant-steps-item-icon
    > .ant-steps-icon
    .ant-steps-icon-dot {
    background: red;
  }

  .ant-steps
    .ant-steps-item-finish
    .ant-steps-item-icon
    > .ant-steps-icon
    .ant-steps-icon-dot {
    width: 25px;
    height: 25px;
    background: red;
  }

  .ant-steps
    .ant-steps-item-finish
    > .ant-steps-item-container
    > .ant-steps-item-tail::after {
    background: red;
    border-radius: 10px;
    margin-top: 6px;
  }

  .ant-steps
    .ant-steps-item-process
    > .ant-steps-item-container
    > .ant-steps-item-tail::after {
    margin-top: 6px;
  }
  .ant-steps
    .ant-steps-item-wait
    > .ant-steps-item-container
    > .ant-steps-item-tail::after {
    margin-top: 6px;
  }

  .ant-steps.ant-steps-dot .ant-steps-item-tail::after {
    height: 7px;
    width: calc(100% - 4px);
    margin-inline-start: 7px;
  }

  .ant-steps
    .ant-steps-item-wait
    .ant-steps-item-icon
    > .ant-steps-icon
    .ant-steps-icon-dot {
    background: #504f55;
    width: 25px;
    height: 25px;
  }
}

.price-card__month {
  display: flex;
  gap: 50px;
  align-items: center;
  .month {
    border: 1px solid red;
    padding: 20px 20px 15px 20px;
    border-radius: 15px;
    // max-width: 350px;
    width: 100%;
    h2 {
      font-size: 24px;
      color: #1f2937;
      font-weight: 600;
    }
    .month-price {
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 15px 0;
      p {
        font-size: 24px;
        color: #ff4d6d;
        font-weight: 600;
        margin: 0;
      }
      span {
        text-decoration: line-through;
        font-size: 16px;
        color: #9a98a9;
      }
    }
    h3 {
      padding: 2px 8px;
      color: white;
      background: #ffb935;
      font-weight: 600;
      border-radius: 4px;
      max-width: 150px;
    }
    .month-icon {
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 15px 0;
    }
    .month-button {
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        padding: 8px 30px;
        font-size: 14px;
        background: #ff4d6d;
        color: white;
        border-radius: 12px;
        width: 100%;
        font-weight: 600;
      }
    }
  }
}

.step-text {
  transition: all 0.5s ease;
  &:hover {
    color: blue !important;
  }
}

.test-card {
  background: #eef8ff;
  border-radius: 25px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  .test-card__left {
    display: flex;
    gap: 15px;
    align-items: center;
    p {
      font-size: 24px;
      color: #ff4d6d;
      font-weight: 700;
      margin: 0;
    }
    h2 {
      font-size: 24px;
      color: #1f2937;
      font-weight: 700;
      margin: 0;
    }
  }
  .test-card__center {
    p {
      text-align: start;
      margin: 0;
      color: #1f2937;
      font-size: 16px;
      font-weight: 400;
      display: flex;
      gap: 10px;
      margin-bottom: 10px;
      span {
        color: #1f2937;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
  .test-card__right {
    button {
      background: #4ab8ff;
      font-size: 14px;
      color: #ffffff;
      border-radius: 25px;
      width: 100%;
      padding: 10px 55px;
    }
  }
}

// OFFER CARD

.offer {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-bottom: 80px;
  h3 {
    max-width: 490px;
    width: 100%;
    font-size: 16px;
    color: #1f2937;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 20px;
    a {
      color: #4ab8ff;
    }
  }
}

.offer-card {
  background: #f1f1f8;
  margin-bottom: 15px;
  border-radius: 17px;
  padding: 15px;
  p {
    font-size: 18px;
    color: #27272b;
    font-weight: 400;
    line-height: 22px;
  }
}

// FOOTER

.footer {
  border-top: 1px solid #e7e6f3;
  padding: 20px 0px 5px 0;
  .footer-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footer-contact {
      display: flex;
      gap: 15px;
      align-items: center;
      margin-bottom: 20px;
      a {
        color: #4ab8ff;
      }
      .footer-icons {
        font-size: 22px;
      }
      .footer-number {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }
}
